html,body{
    
    text-align:left
}
p{
    text-align:left
}
body{
    margin:0;padding:0;
    text-align:justify;
    font-family:trebuchet ms,Arial,Helvetica,sans-serif;
    font-size:13px;
    background-color:#252f33;
   
}
*
{margin:0 auto;
 text-align:left
}
#header{
    position:fixed;
    padding-bottom:0px;
    width:100vw;
    height:200px;
    margin-left:0px;
    margin-right:0px;
    background-image: url("https://media.istockphoto.com/photos/metaverse-city-and-cyberpunk-concept-3d-render-picture-id1382275104?b=1&k=20&m=1382275104&s=170667a&w=0&h=cPU_pCYhFnjr5OVJDq0YeV9GD99Z5Z4EJPZIZB9b7-0=");
    z-index:2;
}
#page{
    margin:0 auto;
    display:table;
    height:100%;
    position:relative;
    overflow:scroll;
    background:#252f33 ;
    width:100vw;
}
.title{
    position:relative;
    left:60px;
    top:22px;
    text-align:left;
    font-family:Georgia,times new roman,Times,serif;
    font-size:60px;
    font-weight:700;
    color:white}
.subText{
    position:relative;
    left:92px;
    top:26px;
    text-align:left;
    font-family:Georgia,times new roman,Times,serif;
    font-size:40px;
    font-weight:700;
    color:grey
}
.articleTitle{
    text-align:left;
    position:relative;
    top:300px;
    padding-left:25px;
    padding-top:10px;
    padding-bottom:10px;
    color:#8fb359;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:40px;
    font-weight:700;
    z-index:1;
}
.articleContent{
    max-width:1500px;
    margin-left:0px;
    top:300px;
    left:0px;
    position:relative;
    padding-left:25px;
    color:#f8fbfc;
    text-align:left;
    font-family:Arial,Helvetica,sans-serif;
    line-height:27px;
    font-size:20px;
    z-index:1;
}
.rightLinks{
    width:150px;
    font-size:15px;
    font-weight:700;
    line-height:21px;
    height:auto;
    margin-right:-300px;
    background-repeat:no-repeat;
    text-align:right;
    float:right;
    z-index:1;
}
.rightLinks a:hover{
    color:#a7c27c
}
.rightLinks .linkTitle{
    font-size:18px;
    font-weight:700;
    margin-top:18px;
    margin-bottom:32px;
    margin-right:10px;
    color:#708b41
}
#bar{
    position:fixed;
    top:200px;
    width:100%;
    height:70px;
    margin-left:0px;
    margin-right:0px;
    background:#FFB6C1;
    z-index:2;
}
.menuLink{
    height:51px;
    width:180px;
    text-align:center;
    float:left;
    font-family:Geneva,Arial,Helvetica,sans-serif;
    font-size:24px;
    font-weight:700;
    color:#ead5a8;
    padding-top:18px
}
.menuLink a{
    color:#192b33
}
.menuLink a:hover{
    color:#ff8000
}
.menuLink:hover{
    background:#FFB6F3
}
a{
  text-decoration:none;
  color:#8fb359
 }
#pageContent{
    width:100%;
    height:100vh;
    padding-bottom:20px
}
#footer{
    width:3000px;
    height:60px;
    background:url(footer.png) no-repeat;
    text-align:center;
    font-size:9px;
    color:#386172;
    padding-top:36px
}
#footer a{
    font-size:10px;
    color:#386172
}
html,body{
    text-align:center
}
p{
    text-align:left
}
